<div class="summaryContent" id="summaryContent">
  <div class="greetingUserSummary" id="summary-greet-user-screen">
    <p class="greetingUserSummaryParagraf">Good morning,</p>
    <p class="greetingUserSummaryName summery-greetX">Placeholder</p>
  </div>

  <div class="summaryToDos" id="summaryToDos">
    <div class="summaryRowContent">
      <div class="summaryHeaderHelper">
        <h1 class="summaryHeadline1">Join 360</h1>
        <br />
        <p class="headlinePara">Key Metrics at a Glance</p>
        <div class="verticalLine"></div>
      </div>

      <div class="row1">
        <div
          class="reactangle borderRadius backgroundColor reactangelBoxShadow cursorPointer"
          onmouseover="changeImage(this)"
          onmouseout="changeImageBack(this)"
          onclick="includeContentHTML('board')"
        >
          <img
            src="assets/img/summary/summaryGrayEdit.svg"
            alt=""
            class="todoSpecial summaryAnimateProgramm editImage"
          />
          <div class="summaryToDoSum" onclick="includeContentHTML('board')">
            <p class="sammarySumNumber" data-todos></p>
            <p>To-do</p>
          </div>
        </div>

        <div
          class="reactangle borderRadius backgroundColor reactangelBoxShadow cursorPointer"
          onmouseover="changeImage(this)"
          onmouseout="changeImageBack(this)"
          onclick="includeContentHTML('board')"
        >
          <img
            src="assets/img/summary/summaryCheckGray.svg"
            class="doneSpecial summaryAnimateProgramm checkImage"
            alt=""
          />
          <div class="summaryToDoSum" onclick="includeContentHTML('board')">
            <p class="sammarySumNumber" id="summery-done-todos"></p>
            <p>Done</p>
          </div>
        </div>
      </div>

      <div
        class="row2Helper borderRadius backgroundColor reactangelBoxShadow cursorPointer"
      >
        <div class="row2summary">
          <img src="assets/img/summary/Frame59_urgent.svg" alt="" />

          <div class="summaryToDoSum" onclick="includeContentHTML('board')">
            <p class="sammarySumNumber" id="summery-upcoming-tasks"></p>
            <p>Urgent</p>
          </div>
        </div>

        <div class="urgentDater" onclick="includeContentHTML('board')">
          <div class="prioVerticalLine"></div>
          <div class="summaryDeadlineBox">
            <p class="summaryDeadDater" id="summery-urgent-date">
              Oktober 16, 2022
            </p>
            <p class="summaryDeadUpcoming">Upcoming Deadline</p>
          </div>
        </div>
      </div>

      <div class="row3">
        <div
          class="squareButton borderRadius backgroundColor reactangelBoxShadow cursorPointer"
        >
          <div class="summaryToDoSum" onclick="includeContentHTML('board')">
            <p class="sammarySumNumber" data-todos></p>
            <p>Tasks in</p>
            <p>Board</p>
          </div>
        </div>

        <div
          class="squareButton borderRadius backgroundColor reactangelBoxShadow cursorPointer"
        >
          <div class="summaryToDoSum" onclick="includeContentHTML('board')">
            <p class="sammarySumNumber" id="summery-process-tasks">2</p>
            <p>Tasks in</p>
            <p>Prozess</p>
          </div>
        </div>

        <div
          class="squareButton borderRadius backgroundColor reactangelBoxShadow cursorPointer"
        >
          <div class="summaryToDoSum" onclick="includeContentHTML('board')">
            <p class="sammarySumNumber" id="summery-awaiting-task">2</p>
            <p>Awaiting</p>
            <p>feedback</p>
          </div>
        </div>
      </div>
    </div>

    <div class="greetingBox greetingBoxShow">
      <h1>Good morging,</h1>
      <p id="summery-greet" class="summery-greetX">Placeholder</p>
    </div>
  </div>
</div>
