<div class="summaryContent" id="summaryContent">
  <div class="summaryHeader" id="summaryHeader">
    <h1 class="summaryHeadline1">Join 360</h1>
    <br />
    <p class="headlinePara">
      Key Metrics at a Glance

    </p>
  </div>

  <div class="summaryToDos" id="summaryToDos">
    <div class="summaryHelper">
      <!-- row #1 -->
      <div class="row1">
        <div
          class="reactangle borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame59_edit.svg" alt="" />
          <img
            class="todoSpecial"
            src="assets/img/summary/Frame62_todo.svg"
            alt=""
          />
        </div>
        <div
          class="reactangle borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame59_ready.svg" alt="" />
          <img
            class="doneSpecial"
            src="assets/img/summary/Group6_done.svg"
            alt=""
          />
        </div>
      </div>

      <!-- row #2 -->
      <div class="row2Helper">
        <div class="row2 borderRadius backgroundColor boxShadow cursorPointer">
          <img src="assets/img/summary/Frame59_urgent.svg" alt="" />
          <img
            class="urgentySpecial"
            src="assets/img/summary/Frame63_urgent.svg"
            alt=""
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="3"
            height="70"
            viewBox="0 0 3 70"
            fill="none"
          >
            <path
              d="M1.5 1V69"
              stroke="#D1D1D1"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>

          <div class="urgentDater">
            <img src="assets/img/summary/Frame68_deadline.svg" alt="" />
          </div>
        </div>
      </div>

      <!-- row #3 -->
      <div class="row3">
        <div
          class="squareButton borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame61_board.svg" alt="" />
        </div>
        <div
          class="squareButton borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame61_progress.svg" alt="" />
        </div>
        <div
          class="squareButton borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame61_awaiting.svg" alt="" />
        </div>
        <div
          class="squareButton borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame61_board.svg" alt="" />
        </div>
        <div
          class="squareButton borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame61_progress.svg" alt="" />
        </div>
        <div
          class="squareButton borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame61_awaiting.svg" alt="" />
        </div>
        <div
          class="squareButton borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame61_board.svg" alt="" />
        </div>
        <div
          class="squareButton borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame61_progress.svg" alt="" />
        </div>
        <div
          class="squareButton borderRadius backgroundColor boxShadow cursorPointer"
        >
          <img src="assets/img/summary/Frame61_awaiting.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
