.reactangle:hover p {
  color: white;
}

.squareButton:hover p {
  color: white;
}

.row2Helper:hover p {
  color: white;
}

.summaryToDoSum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.summaryToDoSum p {
  font-size: 0.8rem;
}

.sammarySumNumber {
  font-size: 2rem !important;
  font-weight: 600;
}
@media only screen and (max-width: 750px) and (min-width: 250px) {
  .greetingGuestSummary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-grey);
  }

  .greetingGuestSummaryParagraf {
    font-size: 2rem;
  }

  .greetingBoxShow {
    display: none;
  }

  .greetingUserSummary {
    display: none;
    flex-direction: column;
    background-color: var(--white-grey);
    align-items: center;
    justify-content: center;
    z-index: 10;
    height: calc(100% - 10rem);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 5rem;
  }

  .greetingUserSummary.showScreen {
    display: flex;
  }

  .greetingUserSummaryName {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--light-blue);
  }

  .summaryToDos {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .summaryRowContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 18rem;
    width: 70%;
  }

  .cursorPointer {
    cursor: pointer;
  }

  .verticalLine {
    width: 4rem;
    height: 1px;
    border: 1px solid #29abe2;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }

  .summaryHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--white-grey);
  }

  .summaryHeaderHelper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
  }

  .summaryHeader h1 {
    font-size: larger;
  }

  .summaryHeader p {
    font-size: medium;
  }
  .summaryHeadline1 {
    font-size: 2.5rem !important;
    font-family: Inter;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 17rem;
    width: 100%;
    gap: 1rem;
  }

  .reactangle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-width: 8rem;
    width: 100%;
    height: 5rem;
    gap: 1rem;
    transition: transform 0.5s ease;
  }

  .reactangle:hover {
    background-color: var(--light-grey);
    transform: scale(1.05);
  }

  .todoSpecial {
    height: 2.5rem;
  }

  .doneSpecial {
    height: 2.5rem;
  }

  .reactangle img {
    height: 2.6rem;
  }

  .row2Helper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 17rem;
    width: 100%;
    transition: transform 0.5s ease;
  }

  .row2Helper:hover {
    background-color: var(--light-grey);
    transform: scale(1.05);
  }

  .row2summary {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 5.25rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .row2summary img {
    height: 2.5rem;
  }

  .urgentySpecial {
    height: 4rem !important;
  }

  .prioVerticalLine {
    width: 1px;
    height: 3.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
  }

  .urgentDater {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 1rem;
  }

  .summaryDeadDater {
    font-size: 1rem !important;
    font-weight: 600;
  }

  .summaryDeadUpcoming {
    font-size: 0.8rem !important;
    font-weight: 300;
  }

  .row3 {
    display: flex;
    gap: 1.1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 10rem;
    width: 100%;
  }

  .squareButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    min-width: 5rem;
    width: 29%;
    height: 5rem;
    transition: transform 0.5s ease;
  }

  .squareButton:hover {
    background-color: var(--light-grey);
    transform: scale(1.05);
  }

  .squareButton img {
    width: 100%;
    height: 100%;
  }

  .borderRadius {
    border-radius: 20px;
  }

  .backgroundColor {
    background-color: #ffffff;
  }

  .reactangelBoxShadow {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 900px) and (min-width: 751px) {
  .summaryContent {
    margin-top: 10rem;
  }

  .greetingUserSummary {
    display: none;
  }
  .greetingBoxShow {
    display: block;
  }

  .greetingBoxShow h1 {
    font-size: 1rem;
  }

  .greetingBoxShow p {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--light-blue);
  }

  .greetingUserSummaryName {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--light-blue);
  }

  .summaryToDos {
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .summaryRowContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 120rem;
    width: 70%;
  }

  .cursorPointer {
    cursor: pointer;
  }

  .verticalLine {
    width: 4rem;
    height: 1px;
    border: 1px solid #29abe2;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }

  .summaryHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--white-grey);
  }

  .summaryHeaderHelper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
  }

  .summaryHeader h1 {
    font-size: larger;
  }

  .summaryHeader p {
    font-size: medium;
  }
  .summaryHeadline1 {
    font-size: 2.5rem !important;
    font-family: Inter;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 17rem;
    width: 100%;
    gap: 1rem;
  }

  .reactangle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-width: 8rem;
    width: 100%;
    height: 5rem;
    gap: 1rem;
    transition: transform 0.5s ease;
  }

  .reactangle:hover {
    background-color: var(--light-grey);
    transform: scale(1.05);
  }

  .todoSpecial {
    height: 2.5rem;
  }

  .doneSpecial {
    height: 2.5rem;
  }

  .reactangle img {
    height: 2.6rem;
  }

  .summaryToDoSum p {
    font-size: 0.6rem;
  }

  .row2Helper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 17rem;
    width: 100%;
    transition: transform 0.5s ease;
  }

  .row2Helper:hover {
    background-color: var(--light-grey);
    transform: scale(1.05);
  }

  .row2summary {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 5.25rem;
    justify-content: space-between;
    align-items: center;
  }

  .row2summary img {
    height: 2.5rem;
  }

  .urgentySpecial {
    height: 4rem !important;
  }

  .prioVerticalLine {
    width: 1px;
    height: 3.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
  }

  .urgentDater {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding-right: 1rem;
  }

  .summaryDeadDater {
    font-size: 1.2rem !important;
    font-weight: 600;
  }

  .summaryDeadUpcoming {
    font-size: 0.8rem !important;
    font-weight: 300;
  }

  .row3 {
    display: flex;
    gap: 1.1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 10rem;
    width: 100%;
  }

  .squareButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    min-width: 5rem;
    width: 29%;
    height: 5rem;
    transition: transform 0.5s ease;
  }

  .squareButton:hover {
    background-color: var(--light-grey);
    transform: scale(1.05);
  }

  .squareButton img {
    width: 100%;
    height: 100%;
  }

  .borderRadius {
    border-radius: 20px;
  }

  .backgroundColor {
    background-color: #ffffff;
  }

  .reactangelBoxShadow {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 1920px) and (min-width: 901px) {
  .summaryContent {
    margin-top: 10rem;
  }

  .greetingUserSummary {
    display: none;
  }
  .greetingBoxShow {
    display: block;
  }

  .greetingBoxShow h1 {
    font-size: 1rem;
  }

  .greetingBoxShow p {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--light-blue);
  }

  .greetingUserSummaryName {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--light-blue);
  }

  .summaryToDos {
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .summaryRowContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 36rem;
    width: 70%;
  }

  .cursorPointer {
    cursor: pointer;
  }

  .verticalLine {
    width: 4rem;
    height: 1px;
    border: 1px solid #29abe2;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }

  .summaryHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--white-grey);
  }

  .summaryHeaderHelper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
  }

  .summaryHeader h1 {
    font-size: larger;
  }

  .summaryHeader p {
    font-size: medium;
  }
  .summaryHeadline1 {
    font-size: 2.5rem !important;
    font-family: Inter;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 17rem;
    width: 100%;
    gap: 1rem;
  }

  .reactangle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-width: 8rem;
    width: 100%;
    height: 5rem;
    gap: 1rem;
    transition: transform 0.5s ease;
  }

  .reactangle:hover {
    background-color: var(--light-grey);
    transform: scale(1.05);
  }

  .todoSpecial {
    height: 2.5rem;
  }

  .doneSpecial {
    height: 2.5rem;
  }

  .reactangle img {
    height: 2.6rem;
  }

  .summaryToDoSum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }

  .row2Helper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 17rem;
    width: 100%;
    transition: transform 0.5s ease;
  }

  .row2Helper:hover {
    background-color: var(--light-grey);
    transform: scale(1.05);
  }

  .row2summary {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 5.25rem;
    justify-content: space-between;
    align-items: center;
  }

  .row2summary img {
    height: 2.5rem;
  }

  .urgentySpecial {
    height: 4rem !important;
  }

  .prioVerticalLine {
    width: 1px;
    height: 3.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
  }

  .urgentDater {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding-right: 1rem;
  }

  .summaryDeadDater {
    font-size: 1.2rem !important;
    font-weight: 600;
  }

  .summaryDeadUpcoming {
    font-size: 0.8rem !important;
    font-weight: 300;
  }

  .row3 {
    display: flex;
    gap: 1.1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 10rem;
    width: 100%;
  }

  .squareButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    min-width: 5rem;
    width: 29%;
    height: 5rem;
    transition: transform 0.5s ease;
  }

  .squareButton:hover {
    background-color: var(--light-grey);
    transform: scale(1.05);
  }

  .squareButton img {
    width: 100%;
    height: 100%;
  }

  .borderRadius {
    border-radius: 20px;
  }

  .backgroundColor {
    background-color: #ffffff;
  }

  .reactangelBoxShadow {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}
