<div class="summaryContent" id="summaryContent">
  <div class="summaryHeader" id="summaryHeader">
    <p>Join 360</p>
    <br />
    <p>Key Metrics at a Glance</p>
  </div>

  <div class="summaryToDos" id="summaryToDos">
    <div class="group65" id="group65">
      <div class="pencilReactangle" id="pencilReactangle">
        <img src="assets/img/summary/Frame59_edit.svg" alt="">
      </div>
      <div class="checkReactangle" id="checkReactangle"></div>
    </div>

    <div class="urgencyMobile" id="urgencyMobile">YY</div>

    <div class="group64" id="group64">
      <div class="squareButton01" id="squareButton01"></div>
      <div class="squareButton01" id="squareButton01"></div>
      <div class="squareButton01" id="squareButton01"></div>
    </div>
  </div>
</div>
