@media only screen and (max-width: 750px) and (min-width: 250px) {
  .greetingBoxShow {
    display: none;
  }

  .summaryContent {
    display: flex;
    flex-direction: column;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
  }

  .summaryToDos {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border: solid 1px orange;
  }

  .summaryRowContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 18rem;
    width: 70%;
    border: dotted 1px olive;
  }

  .cursorPointer {
    cursor: pointer;
  }

  .verticalLine {
    width: 4rem;
    height: 1px;
    border: 1px solid #29abe2;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }

  .summaryHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--white-grey);
    border: solid 1px green;
  }

  .summaryHeaderHelper {
    display: flex;
    flex-direction: column;
    justify-content: ceter;
    border: dotted 1px blue;
  }

  .summaryHeader h1 {
    font-size: larger;
  }

  .summaryHeader p {
    font-size: medium;
  }
  .summaryHeadline1 {
    font-size: 2.5rem !important;
    font-family: Inter;
  }
  /* ROW #1 START */
  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 17rem;
    width: 100%;
    gap: 1rem;
  }

  .reactangle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-width: 8rem;
    width: 100%;
    height: 5rem;
    gap: 1rem;
  }

  .todoSpecial {
    height: 4rem !important;
  }

  .doneSpecial {
    height: 4rem !important;
  }

  .reactangle img {
    height: 1.7rem;
  }
  /* ROW #1 END */
  /* ROW #2 START */
  .row2Helper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 17rem;
    width: 100%;
  }

  .row2summary {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 5.25rem;
    justify-content: space-between;
    align-items: center;
  }

  .row2summary img {
    height: 1.7rem;
  }

  .urgentySpecial {
    height: 4rem !important;
  }

  .prioVerticalLine {
    width: 1px;
    height: 3.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
  }

  .urgentDater {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 1rem;
  }
  /* ROW #2 END */
  /* ROW #3 START */
  .row3 {
    display: flex;
    gap: 1.1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 10rem;
    width: 100%;
  }

  .squareButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    min-width: 5rem;
    width: 29%;
    height: 5rem;
  }

  .squareButton img {
    width: 100%;
    height: 100%;
  }
  /* ROW #3 END */

  .borderRadius {
    border-radius: 20px;
  }

  .backgroundColor {
    background-color: #ffffff;
  }

  .boxShadow {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 1920px) and (min-width: 751px) {
  /* .content {
    background-color: unset;
  } */
  
  .greetingBoxShow {
    display: block;
  }

  .greetingBoxShow h1 {
    font-size: 1rem;
  }

  .greetingBoxShow p {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--light-blue);
  }

  .summaryContent {
    /* background-color: var(--white-grey); */
    display: flex;
    flex-direction: column;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
  }

  .summaryToDos {
    margin-top: 2rem;
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border: solid 1px orange;
  }

  .summaryRowContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 18rem;
    width: 70%;
    border: dotted 1px olive;
  }

  .cursorPointer {
    cursor: pointer;
  }

  .verticalLine {
    width: 4rem;
    height: 1px;
    border: 1px solid #29abe2;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }

  .summaryHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--white-grey);
    border: solid 1px green;
  }

  .summaryHeaderHelper {
    display: flex;
    flex-direction: column;
    justify-content: ceter;
    border: dotted 1px blue;
  }

  .summaryHeader h1 {
    font-size: larger;
  }

  .summaryHeader p {
    font-size: medium;
  }
  .summaryHeadline1 {
    font-size: 2.5rem !important;
    font-family: Inter;
  }
  /* ROW #1 START */
  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 17rem;
    width: 100%;
    gap: 1rem;
  }

  .reactangle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-width: 8rem;
    width: 100%;
    height: 5rem;
    gap: 1rem;
  }

  .todoSpecial {
    height: 4rem !important;
  }

  .doneSpecial {
    height: 4rem !important;
  }

  .reactangle img {
    height: 1.7rem;
  }
  /* ROW #1 END */
  /* ROW #2 START */
  .row2Helper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 17rem;
    width: 100%;
  }

  .row2summary {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 5.25rem;
    justify-content: space-between;
    align-items: center;
  }

  .row2summary img {
    height: 1.7rem;
  }

  .urgentySpecial {
    height: 4rem !important;
  }

  .prioVerticalLine {
    width: 1px;
    height: 3.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
  }

  .urgentDater {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 1rem;
  }
  /* ROW #2 END */
  /* ROW #3 START */
  .row3 {
    display: flex;
    gap: 1.1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 10rem;
    width: 100%;
  }

  .squareButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    min-width: 5rem;
    width: 29%;
    height: 5rem;
  }

  .squareButton img {
    width: 100%;
    height: 100%;
  }
  /* ROW #3 END */

  .borderRadius {
    border-radius: 20px;
  }

  .backgroundColor {
    background-color: #ffffff;
  }

  .boxShadow {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}
