:root {
  --light-grey: #2a3647;
  --light-blue: #29abe2;
  --background-color: #fff;
  --dark-blue: #091931;
  --organe: #ff3d00;
  --yellow: #ffa800;
  --pink: #fc71ff;
  --mint-green: #1fd7c1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
  /* background-color: #29abe2; */
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 600px) and (min-width: 350px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .menu_template {
    display: flex;
  }
}
