:root {
  --light-grey: #2a3647;
  --light-blue: #29abe2;
  --background-color: #fff;
  --dark-blue: #091931;
  --organe: #ff3d00;
  --yellow: #ffa800;
  --pink: #fc71ff;
  --mint-green: #1fd7c1;
}

root {
  --primary-color: #000;
  --secondary-color: #2a3647;
  --tertiary-color: #a8a8a8;
  --quaternary-color: #d1d1d1;
  --join-color: #29abe2;
  --background-color: #fff;
  --menu-color: #42526e;
  --border-shadow: rgba(0, 0, 0, 0.08);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  #container {
    display: flex;
    flex-direction: row;
  }
}
