@import url("./fonts.css");
@import url("./assets/worker/inputFocus/inputFocus.css");
@import url("./assets/templates/footer/menu_template.html");
@import url("./assets/templates/register/register.css");
@import url("./assets/templates/login/login.css");
@import url("./assets/templates/contacs/contacs.css");
@import url("./assets/templates/add_tasks/add_tasks.css");
@import url("./assets/templates/board/board.css");
@import url("./assets/templates/summary/summary.css");
@import url("./assets/templates/header/header.css");
@import url("./assets/templates/footer/footer.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:wght@400;500&display=swap");

:root {
  --lighter-grey: #d1d1d1;
  --light-grey: #2a3647;
  --light-blue: #29abe2;
  --dark-blue: #091931;
  --organe: #ff3d00;
  --yellow: #ffa800;
  --pink: #fc71ff;
  --mint-green: #1fd7c1;
  --white-grey: #f6f7f8;
  --white-text: #fff;
  --wrong-input: #ff001f;
  --font-gray: #a8a8a8;
  --font-popUp: #cdcdcd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  display: grid;
  height: 100dvh;
  width: 100%;
  overflow-y: scroll;
}

.content {
  width: 100%;
}

/* TODO  LÄST SICH NICHT VERSCHIEBEN ????*/
.menuTemplate {
  background-color: var(--light-grey);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
}

@media only screen and (max-width: 750px) and (min-width: 250px) {
  /* TODO AUCH MARTIG BENUTZT DAS??? */
  .mobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    height: 5rem;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 751px) {
  .content {
    grid-area: drei;
  }

  .container {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "eins zwei zwei"
      "eins drei drei";
    grid-template-columns: 200px;
    grid-template-rows: 5rem;
    height: 100vh;
  }

  .headerTemplate {
    grid-area: zwei;
  }

  /* TODO */
  .menuTemplate {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-area: eins;
    position: sticky;
    height: 100dvh;
  }
}
