<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../style.css" />
    <title>Join - Register</title>
  </head>
  <body>
    <div class="secondRegister">
      <div class="registerLayout boxShadow">
        <h1>Sign up</h1>
        <div class="underlineFrame"></div>

        <form
          onsubmit="registerUser(); return false;"
          class="regForm"
          style="
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 200px;
          "
        >
          <div class="nameRegist">
            <input
              id="nameRegist"
              class="nameRegist borderNone outline cursor"
              required
              minlength="2"
              type="text"
              placeholder="Name"
              autocomplete="username"
            />
            <img src="../../../assets/img/register/person.svg" />
          </div>

          <div class="emailDevision">
            <input
              id="registerInpMail"
              class="registerInpMail borderNone"
              required
              minlength="2"
              type="email"
              placeholder="Email"
              autocomplete="email"
            />
            <img src="../../../assets/img/login/mail.svg" />
          </div>

          <div class="passwortDevision">
            <input
              id="RegisterInpPass"
              class="RegisterInpPass borderNone"
              required
              minlength="2"
              type="password"
              placeholder="Password"
              autocomplete="current-password"
            />
            <img src="../../../assets/img/login/lock.svg" />
          </div>

          <div class="ConfirmPasswortDevision">
            <input
              id="ConfirmPasswort"
              class="ConfirmPasswort borderNone"
              required
              minlength="2"
              type="password"
              placeholder="Confirm Password"
              autocomplete="current-password"
            />
            <img src="../../../assets/img/login/lock.svg" />
          </div>

          <div class="forgotPassword">Forgot my password</div>

          <div class="acceptPolicyBox">
            <input type="checkbox" name="acceptPolicy" value="acceptPolicy" />
            <label class="acceptPolicy" for="acceptPolicy"
              >I accept the Privacy policy</label
            >
          </div>

          <div class="registerBtn">
            <button onclick="registOnclick()">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
