.firstLogin {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Z INDEX MUSS RAUS */
  z-index: 10;
  height: 100vh;
}

.loginLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 20rem;
  height: 32rem;
  border-radius: 1.8rem;
}

.loginLayout h1 {
  font-size: 2.5rem;
}

.logForm {
  margin-top: 1rem;
}

.rememberBox {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  padding-right: 4rem;
  gap: 0.5rem;
}

.emailDevision {
  display: flex;
  flex-direction: row;
  border: solid 1px #d1d1d1;
  padding: 0.2rem;
}

.passwortDevision {
  display: flex;
  flex-direction: row;
  border: solid 1px #d1d1d1;
  padding: 0.2rem;
  margin-top: 1rem;
}

.logInpMail {
  border: none;
}

.logInpPass {
  border: none;
}

.forgotPassword {
  margin-top: 1rem;
}

.rememberLabel {
  font-size: 0.8rem !important;
  display: flex;
  align-self: normal;
}

.loginBtn {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.7rem;
}

.registerBtn button {
  border: #2a3647 1px solid;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.registerBtn button:hover {
  background-color: #2a3647;
  color: #ffffff;
}
