<div class="add-tasks-board">
  <div class="add-tasks-board-header">
    <h1>Add Task</h1>
  </div>
  <div id="taskForm" class="add-tasks-board-content"></div>
  <div class="add-tasks-board-footer">
    <div class="footer-msg">
      <p><span>*</span>This field is required</p>
      <p id="task-form-error" style="color: red"></p>
    </div>
    <div class="add-tasks-footer-btns">
      <button id="tasks-form-cancel" onclick="clearTask()">
        Clear <img src="./assets/img/add_tasks/cancel_icon.svg" alt="" />
      </button>
      <button id="tasks-form-submit" onclick="initEventListener()">
        Create Task <img src="./assets/img/add_tasks/check_icon.svg" alt="" />
      </button>
    </div>
  </div>
</div>
