@media only screen and (max-width: 750px) and (min-width: 250px) {
  .mobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-text);
    height: 5rem;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
  }

  .headerSubMenu {
    position: absolute;
    right: 1rem;
    top: 4rem;
    z-index: 30;
    width: 8.5rem;
    height: 9rem;
    background-color: var(--light-grey);
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    border-top-left-radius: 1.1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  .headerSubMenuHoverBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 7.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    padding-left: 0.4rem;
  }

  .headerSubMenuHoverBox:hover {
    background-color: var(--dark-blue);
  }

  .headerSubMenuHoverAnchor {
    color: var(--font-popUp);
    text-decoration: none;
  }

  .theProgramm {
    display: none;
  }

  .userSymbolContainerHelp {
    display: none;
  }

  .logoImgContainer {
    width: 100%;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
  }

  .logoImg {
    width: 3.5rem;
    height: 3rem;
  }

  .userLogoImg {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  .userIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 8px;
    height: 32px;
    width: 32px;
    margin-right: 24px;
    color: #29abe2;
  }

  .user-icon:hover {
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }

  .userSymbolContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-right: 1rem;
  }

  .userSymbolContainerHelp {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .signUpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .signUpButton {
    background-color: var(--light-grey);
    color: white;
    border-radius: 8px;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 70px;
    height: 35px;
  }

  .signUpParagraph {
    width: 120px;
  }
}

@media only screen and (max-width: 4000px) and (min-width: 751px) {
  .headerSubMenu {
    position: absolute;
    right: 1rem;
    top: 4rem;
    z-index: 30;
    width: 8.5rem;
    height: 9rem;
    background-color: var(--light-grey);
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    border-top-left-radius: 1.1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  .headerSubMenuHoverBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 7.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    padding-left: 0.4rem;
  }

  .headerSubMenuHoverBox:hover {
    background-color: var(--dark-blue);
  }

  .headerSubMenuHoverAnchor {
    color: var(--font-popUp);
    text-decoration: none;
  }

  .userLogoImg {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }

  .userIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 8px;
    height: 32px;
    width: 32px;
    margin-right: 24px;
    color: #29abe2;
  }

  .user-icon:hover {
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }

  .logoImgContainer {
    display: none;
  }

  .theProgramm {
    margin-left: 4rem;
  }

  .theProgrammFont {
    font-weight: 300;
    font-size: 0.9rem;
  }

  .userSymbolContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 16px;
  }

  .userSymbolContainerHelp {
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  .userSymbolContainerHelp:hover {
    transform: scale(1.2);
  }

  .mobileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 20px 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--white-text);
  }

  .slideInMenu {
    animation: slideInMenu 0.5s ease-in-out forwards;
  }

  @keyframes slideInMenu {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
