<div class="mobileHeader">
  <div class="logoImgContainer">
    <img class="logoImg" src="./assets/img/header/join_logo1.svg" alt="logo" />
  </div>

  <div class="theProgramm">
    <p class="theProgrammFont">Kanban Project Management Tool</p>
  </div>

  <div id="userSymbolContainerID" class="userSymbolContainer">
    <img
      onclick="includeContentHTML('Help')"
      class="userSymbolContainerHelp"
      src="assets/img/header/help.png"
      alt=""
    />

    <div>
      <div id="headerProfile" class="userIcon userLogoImg " onclick="handleSubMenu()"></div>
    </div>

    <div class="headerSubMenu" id="headerSubMenu">
      <div class="headerSubMenuBoxing">
        <div class="headerSubMenuHoverBox">
          <a
            onclick="includeContentHTML('Legal notice')"
            class="headerSubMenuHoverAnchor"
            >Legal notice</a
          >
        </div>
      </div>
      <div class="headerSubMenuBoxing">
        <div class="headerSubMenuHoverBox">
          <a
            onclick="includeContentHTML('Privacy Policy')"
            class="headerSubMenuHoverAnchor"
            >Privacy Police</a
          >
        </div>
      </div>
      <div class="headerSubMenuHoverBox" id="header-logout">
        <div class="headerSubMenuBoxing"></div>
        <a class="headerSubMenuHoverAnchor">Log out</a>
      </div>
    </div>
  </div>
</div>
