<div class="mobileHeader">
  <div class="logoImgContainer">
    <img class="logoImg" src="./assets/img/header/join_logo1.svg" alt="logo" />
  </div>

  <div class="theProgramm">
    <p class="theProgrammFont">Kanban Project Management Tool</p>
  </div>

  <div id="signUpContainerID" class="signUpContainer" style="display: none">
    <p class="signUpParagraph">Not a Join user?</p>
    <button id="sign_up_ButtonID" class="signUpButton">Sign up</button>
  </div>

  <div id="userSymbolContainerID" class="userSymbolContainer">
    <img
      class="userSymbolContainerHelp"
      src="assets/img/header/help.png"
      alt=""
    />

    <div
      onmouseover="changeHeaderImage(this)"
      onmouseout="changeHeaderImageBack(this)"
      onclick="handleSubMenu()"
    >
      <img
        id="header-profile-menu"
        class="userLogoImg summaryAnimateProgramm editHeaderImage"
        src="assets/img/header/headerCurrentGuestImage.svg"
        alt=""
        out
      />
    </div>

    <div class="headerSubMenu" id="headerSubMenu">
      <div class="headerSubMenuBoxing">
        <div class="headerSubMenuHoverBox">
          <a
            class="headerSubMenuHoverAnchor"
            href="./assets/templates/legal_notice/legal_notice_internal.html"
            >Legal notice</a
          >
        </div>
      </div>
      <div class="headerSubMenuBoxing">
        <div class="headerSubMenuHoverBox">
          <a
            class="headerSubMenuHoverAnchor"
            href="./assets/templates/privacy_policy/privacy_policy_internal.html"
            >Privacy Police</a
          >
        </div>
      </div>
      <div class="headerSubMenuHoverBox" id="header-logout">
        <div class="headerSubMenuBoxing"></div>
        <a class="headerSubMenuHoverAnchor">Log out</a>
      </div>
    </div>
  </div>
</div>
