<div class="mobileHeader">
  <div class="logoImgContainer">
    <img class="logoImg" src="./assets/img/header/join_logo1.svg" alt="logo" />
  </div>

  <div class="theProgramm">
    <p class="theProgrammFont">Kanban Project Management Tool</p>
  </div>

  <div id="signUpContainerID" class="signUpContainer" style="display: none">
    <p class="signUpParagraph">Not a Join user?</p>
    <button id="sign_up_ButtonID" class="signUpButton">Sign up</button>
  </div>

  <div id="userSymbolContainerID" class="userSymbolContainer">
    <img
      class="userSymbolContainerHelp"
      src="assets/img/header/help.png"
      alt=""
    />

    <div
      onmouseover="changeHeaderImage(this)"
      onmouseout="changeHeaderImageBack(this)"
    >
      <img
        class="userLogoImg summaryAnimateProgramm editHeaderImage"
        src="assets/img/header/headerCurrentGuestImage.svg"
        alt=""
      />
    </div>

    <div class="headerSubMenu">
      <div class="headerSubMenuBoxing">
        <p>Legal Notice</p>
      </div>
      <div class="headerSubMenuBoxing">
        <p>Privacy Policy</p>
      </div>
      <div class="headerSubMenuBoxing" onclick="loagout()">
        <p>Log out</p>
      </div>
    </div>
  </div>
</div>
