
<!------------------ HEADLINE SECTION ------------------>
<section class="headline-section">
    <h1 class="headline-board">Board</h1>
    <button class="headline-plus-button">
        <span class="plus-button-text">Add task</span>
        <img class="headline-plus-icon" src="./assets/img/board/plus-icon-dark.svg" alt="plus dark">
    </button>
    <div class="input-wrapper input-wrapper-board">
        <input type="text" placeholder="Find Task">
        <div class="input-devider"></div>
        <img src="./assets/img/board/magnifier-icon-thin.svg" alt="magnifier">
    </div>
</section>




<div class="sections-container">
    <!------------------ TODO SECTION ------------------>
    <section class="task-section">
        <h2 class="section-headline">To do</h2>
        <img class="plus-icon" src="./assets/img/board/plus-icon.svg" alt="plus">


        <div class="card-container" 
            ondragover="dragoverHandler(event)"
            ondrop="dropHandler(event, 'todo')"
            ondragenter="dragenterHandler(event)"
            ondragleave="dragleaveHandler(event)"
            id="cardContainerTodo">
       
        </div>

    </section>




    <!------------------ IN PROGRESS SECTION ------------------>
    <section class="task-section">
        <h2 class="section-headline">In progress</h2>
        <img class="plus-icon" src="./assets/img/board/plus-icon.svg" alt="plus">
        <div class="card-container" 
            ondragover="dragoverHandler(event)"
            ondrop="dropHandler(event, 'in progress')"
            ondragenter="dragenterHandler(event)"
            ondragleave="dragleaveHandler(event)"
            id="cardContainerInprogress">

            <div class="card-container-empty reini-d-none">
                <p>No tasks in progress</p>
            </div>
        </div>

    </section>



    <!------------------ AWAIT FEEDBACK SECTION ------------------>
    <section class="task-section">
        <h2 class="section-headline">Await feedback</h2>
        <img class="plus-icon" src="./assets/img/board/plus-icon.svg" alt="plus">
        <div class="card-container" 
            ondragover="dragoverHandler(event)"
            ondrop="dropHandler(event, 'await feedback')"
            ondragenter="dragenterHandler(event)"
            ondragleave="dragleaveHandler(event)"
            id="cardContainerAwaitfeedback">

            <div class="card-container-empty reini-d-none">
                <p>No tasks awaiting feedback</p>
            </div>
        </div>

    </section>





    <!------------------ DONE SECTION ------------------>
    <section class="task-section">
        <h2 class="section-headline">Done</h2>
        <img class="plus-icon" src="./assets/img/board/plus-icon.svg" alt="plus">


        <div class="card-container" 
            ondragover="dragoverHandler(event)"
            ondrop="dropHandler(event, 'done')"
            ondragenter="dragenterHandler(event)"
            ondragleave="dragleaveHandler(event)"
            id="cardContainerDone">

            <div class="card-container-empty reini-d-none">
                <p>No tasks done</p>
            </div>
        </div>

    </section>
</div>



<!------------------ DIALOG ------------------>
<div class="dialog-container reini-d-none" id="dialogContainer">
    <!------------------ DIALOG DETAIL------------------>
    <div class="dialog detail-dialog" id="detailDialog">
        
    </div>




    <!------------------ DIALOG EDIT------------------>
    <div class="dialog edit-dialog" id="editDialog">
<!--
        <div class="edit-header">
            <img class="edit-close-icon" src="./assets/img/board/close-icon.svg" alt="close-icon"
                onclick="hideDialog()">
        </div>
        <form class="edit-form" action="">
            <div class="input-container">
                <label for="inputTaskTitle">Title</label>
                <input type="text" id="inputTaskTitle">
            </div>
            <div class="input-container">
                <label for="inputTaskDescription">Description</label>
                <input type="text" id="inputTaskDescription">
            </div>
            <div class="input-container">
                <label for="inputTaskDuedate">Due Date</label>
                <input type="date" id="inputTaskDuedate">
            </div>
            <div class="input-container">
                <label for="">Priority</label>
                <div class="input-prio-container">
                    <div class="input-prio-button">
                        <span>Urgent</span>
                        <img class="prio-icon" src="./assets/img/board/prio-urgent-icon.svg" alt="urgent-icon">
                    </div>
                    <div class="input-prio-button">
                        <span>Medium</span>
                        <img class="prio-icon" src="./assets/img/board/prio-medium-icon.svg" alt="medium-icon">
                    </div>
                    <div class="input-prio-button">
                        <span>Low</span>
                        <img class="prio-icon" src="./assets/img/board/prio-low-icon.svg" alt="low-icon">
                    </div>
                </div>
            </div>
            <div class="input-container">
                <label for="">Assigned to</label>
                <select class="edit-select-members" name="select-members" id="selectMembers"></select>
                <div id="editTaskMembersContainer">
                    <div class="member-icon">E</div>
                </div>
            </div>
            <div class="input-container">
                <label for="">Subtask</label>
                <div class="input-wrapper">
                    <input type="text" placeholder="Add new subtask">
                    <img src="./assets/img/board/plus-icon.svg" alt="plus-icon">
                </div>
                <div class="edit-subtaskList">
                    <li>
                        <span>Implement Recipe Recommendations</span>
                        <div class="edit-subtask-icon-container">
                            <img src="./assets/img/board/edit-icon.svg" alt="pencil-icon">
                            <img src="./assets/img/board/delete-icon.svg" alt="trashcan-icon">
                        </div>
                    </li>

                </div>
            </div>
            <div class="edit-footer">
                <button class="edit-OKbutton">
                    <span>Ok</span>
                    <img src="./assets/img/board/check-icon.svg" alt="chek-icon">
                </button>
            </div>

        </form>
    </div>
-->
</div>