<section class="debug-container">
    <button onclick="showDialogDetail()">showDialogDetail</button>
</section>


<!------------------ HEADLINE SECTION ------------------>
<section class="headline-section">
    <h1 class="headline-board">Board</h1>
    <button class="headline-plus-button">
        <span class="plus-button-text">Add task</span>
        <img class="headline-plus-icon" src="./assets/img/board/plus-icon-dark.svg" alt="plus dark">
    </button>
    <div class="input-wrapper">
        <input type="text" placeholder="Find Task">
        <div class="input-devider"></div>
        <img src="./assets/img/board/magnifier-icon-thin.svg" alt="magnifier">
    </div>
</section>




<div class="sections-container">
    <!------------------ TODO SECTION ------------------>
    <section class="task-section">
        <h2 class="section-headline">To do</h2>
        <img class="plus-icon" src="./assets/img/board/plus-icon.svg" alt="plus">


        <div class="card-container" id="cardContainerTodo">

            <div class="card-container-empty">
                <p>No tasks To do</p>
            </div>
        </div>

    </section>




    <!------------------ IN PROGRESS SECTION ------------------>
    <section class="task-section">
        <h2 class="section-headline">In progress</h2>
        <img class="plus-icon" src="./assets/img/board/plus-icon.svg" alt="plus">


        <div class="card-container" id="cardContainerInprogress">
            
            <div class="card-container-empty reini-d-none">
                <p>No tasks in progress</p>
            </div>
        </div>

    </section>



    <!------------------ AWAIT FEEDBACK SECTION ------------------>
    <section class="task-section">
        <h2 class="section-headline">Await feedback</h2>
        <img class="plus-icon" src="./assets/img/board/plus-icon.svg" alt="plus">


        <div class="card-container" id="cardContainerAwaitfeedback">
            
            <div class="card-container-empty reini-d-none">
                <p>No tasks awaiting feedback</p>
            </div>
        </div>

    </section>





    <!------------------ DONE SECTION ------------------>
    <section class="task-section">
        <h2 class="section-headline">Done</h2>
        <img class="plus-icon" src="./assets/img/board/plus-icon.svg" alt="plus">


        <div class="card-container" id="cardContainerDone">
            
            <div class="card-container-empty reini-d-none">
                <p>No tasks done</p>
            </div>
        </div>

    </section>
</div>



<!------------------ DIALOG DETAIL ------------------>
<div class="detail-dialog-container reini-d-none" id="detailDialogContainer">
    <div class="detail-dialog" id="detailDialog">
        <div class="detail-header">
            <p class="task-category category-user-story">User Story</p>
            <img class="detail-close-icon" src="./assets/img/board/close-icon.svg" alt="close-icon" onclick="hideDialogDetail()">
        </div>
        <h3 class="detail-taskname">Kochwelt &amp; Page &amp; Recipe Recommender</h3>
        <p class="detail-task-description">Build start page width recipe recommendation.</p>
        <div class="detail-date-prio-container">
            <p>Due date:</p>
            <p>10/05/2023</p>
            <p>Priority:</p>
            <p class="detail-priority">Medium <img class="" src="./assets/img/board/prio-medium-icon.svg" alt="prio-medium-icon"></p>
        </div>
        <div class="detail-members-container">
            <p class="detail-members-container-headline">Assigned To:</p>
            <div class="detail-member">
                <div class="member-icon">E</div>
                <p>Emmanuel Mauer</p> 
            </div>
            <div class="detail-member">
                <div class="member-icon">M</div>
                <p>Marcel Bauer</p> 
            </div>
            <div class="detail-member">
                <div class="member-icon">A</div>
                <p>Anton Mayer</p> 
            </div>
        </div>
        <div class="detail-subtasks-container">
            <p class="detail-subtasks-headline">Subtasks</p>
            <div class="detail-subtask">
                <img src="./assets/img/board/checkbox-checked-icon.svg" alt="checkbox">
                <p>Implement Recipe Recommendation</p>
            </div>
            <div class="detail-subtask">
                <img src="./assets/img/board/checkbox-icon.svg" alt="checkbox">
                <p>Start Page Layout</p>
            </div>
        </div>
        <div class="detail-footer">
            <div class="detail-footer-button">
                <img src="./assets/img/board/delete-icon.svg" alt="trashcan">
                <p>Delete</p>
            </div>
            <div class="detail-footer-button">
                <img src="./assets/img/board/edit-icon.svg" alt="pencil">
                <p>Edit</p>
            </div>
        </div>
    </div>
</div>




