/*
Font:
https://fonts.google.com/specimen/Inter
*/

/*************** VARIABLES ***************/

:root {
    --reini-lighter-grey: #D1D1D1;
    --reini-light-grey: #A8A8A8;
    --reini-dark-blue: #2A3647;
    --reini-category-blue: #0038FF;
    --reini-category-turquoise: #1FD7C1;
    --reini-progressbar-grey: #F4F4F4;
    --reini-progressbar-blue: #4589FF;


    --reini-padding-main: 0 64px;
}

/*************** GLOBAL ***************/

body {
    background-color: #F6F7F8;
}

.headline-section,
.sections-container {
    font-family: sans-serif;
}

.reini-d-none {
    display: none;
}

.category-technical-task {
    background-color: var(--reini-category-turquoise);
}

.category-user-story {
    background-color: var(--reini-category-blue);
}

/*************** HEADLINE SECTION ***************/

.headline-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    padding: var(--reini-padding-main);
    height: 150px;
}

.headline-board {
    font-size: 61px;
    margin: 0;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 8px 16px;
    border-radius: 10px;
    border-color: var(--reini-light-grey);
    background-color: white;
}

.input-wrapper input {
    flex-grow: 1;
    font-size: 20px;
    border: none;
}

.input-wrapper input::placeholder {
    color: var(--reini-light-grey);
}

.input-wrapper input:focus-visible {
    outline: none;
}


.input-devider {
    height: 31px;
    width: 1px;
    border-radius: 100px;
    background-color: var(--reini-lighter-grey);
}

.input-wrapper img {
    height: 32px;
    margin-left: 32px;
}

.headline-plus-button {
    grid-column: 3;
    background-color: var(--reini-dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 160px;
    padding: 6px 0;
    border-radius: 10px;
    margin-left: 32px;
    border: none;
}

span.plus-button-text {
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.headline-plus-icon {
    width: 40px;
}

/*************** SECTIONS CONTAINER ***************/

.sections-container {
    display: flex;
    justify-content: center;
    padding: var(--reini-padding-main);
    gap: 26px;
}

.plus-icon {
    height: 1em;
}

/*************** TASK SECTIONS ***************/

.task-section {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    flex-basis: 246px;
}

.task-headline {
    font-size: 20px;
    margin: 0;
}

.task-section>.plus-icon {
    justify-self: end;
    height: 24px;
}

.card-container {
    grid-column: 1 / 3;
    align-self: start;
}

.members-prio-container {
    display: flex;
    justify-content: space-between;
}

.members-container {
    display: flex;
}

.member-icon {
    height: 32px;
    width: 32px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid white;
    position: relative;
}

.members-prio-container {
    margin-top: 14px;
}

.members-prio-container>img {
    width: 1em;
}

.card-container-empty {
    background-color: var(--reini-lighter-grey);
    color: var(--reini-light-grey);
    border: 2px dashed var(--reini-light-grey);
    border-radius: 10px;
    margin: 0;
    margin-top: 32px;
    height: 48px;
}

.card-container-empty p {
    font-size: 16px;
    text-align: center;
}


/*************** TASK CARDS ***************/

.task-card {
    background-color: white;
    margin: 16px 0;
    border-radius: 24px;
    padding: 16px;
}

.task-category {
    font-size: 16px;
    display: inline-block;
    color: white;
    padding: 4px 16px;
    border-radius: 8px;
    margin: 0;
}

.task-description {
    color: var(--reini-light-grey);
}

.progress-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.progress-bar {
    flex-grow: 1;
    height: 8px;
    -webkit-appearance: none;
}

progress::-webkit-progress-value {
    border-radius: 100px;
    background-color: var(--reini-progressbar-blue);
}

progress[value]::-webkit-progress-bar {
    border-radius: 100px;
    background-color: var(--reini-progressbar-grey);
}




/*************** MOBILE ***************/

@media only screen and (max-width: 750px) and (min-width: 350px) {
    section.headline-section {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 200px;
    }

    .headline-board {
        font-size: 47px;
    }

    .headline-plus-button {
        display: flex;
        align-items: center;
        justify-self: end;
        grid-column: 2;
        width: 40px;
        height: 40px;
    }

    .plus-button-text {
        display: none;
    }

    .input-wrapper {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    /* SECTIONS-CONTAINER */
    .sections-container {
        flex-direction: column;
    }
}