<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join - Board</title>
    <link rel="stylesheet" href="./board.css">
</head>

<body>
    <!------------------ HEADLINE SECTION ------------------>
    <section class="headline-section">
        <h1 class="headline-board">Board</h1>
        <button class="headline-plus-button">
            <span class="plus-button-text">Add task</span>
            <img class="headline-plus-icon" src="../../img/board/plus-icon-dark.svg" alt="plus dark">
        </button>
        <div class="input-wrapper">
            <input type="text" placeholder="Find Task">
            <img src="../../img/board/magnifier-icon-thin.svg" alt="magnifier">
        </div>
    </section>




    <div class="sections-container">
        <!------------------ TODO SECTION ------------------>
        <section class="task-section">
            <h2>To do</h2>
            <img class="plus-icon" src="../../img/board/plus-icon.svg" alt="plus">


            <div class="card-container">
                <div class="task-card">
                    <p class="task-category">User Story</p>
                    <h3>Kochwelt Page &amp; Recipe Recommender</h3>
                    <p>Build start page with recipe recommendation...</p>
                    <div class="progress-container">
                        <progress id="progressBar" value="50" max="100"></progress>
                        <label for="progressBar"><span id="subtasksDone">1</span>/<span id="subtasksAmount">2</span> Subtasks</label>
                    </div>
                    <div class="members-prio-container">
                        <div class="members-container">
                            <p class="member-icon">AB</p>
                        </div>
                        <img src="../../img/board/prio-medium-icon.svg" alt="prio medium">
                    </div>
                </div>

                <div class="task-card">
                    <p class="task-category">User Story</p>
                    <h3>Kochwelt Page &amp; Recipe Recommender</h3>
                    <p>Build start page with recipe recommendation...</p>
                    <div class="progress-container">
                        <progress id="progressBar2" value="50" max="100"></progress>
                        <label for="progressBar"><span id="subtasksDone2">1</span>/<span id="subtasksAmount2">2</span> Subtasks</label>
                    </div>
                    <div class="members-prio-container">
                        <div class="members-container">
                            <p class="member-icon">AB</p>
                        </div>
                        <img src="../../img/board/prio-medium-icon.svg" alt="prio medium">
                    </div>
                </div>
            </div>

            <div class="card-container-empty">
                <p>No tasks To do</p>
            </div>
        </section>




        <!------------------ IN PROGRESS SECTION ------------------>
        <section class="task-section">
            <h2>To do</h2>
            <img class="plus-icon" src="../../img/board/plus-icon.svg" alt="plus">


            <div class="card-container">
                <div class="task-card">
                    <p class="task-category">User Story</p>
                    <h3>Kochwelt Page &amp; Recipe Recommender</h3>
                    <p>Build start page with recipe recommendation...</p>
                    <div class="progress-container">
                        <progress id="progressBar" value="50" max="100"></progress>
                        <label for="progressBar"><span id="subtasksDone">1</span>/<span id="subtasksAmount">2</span> Subtasks</label>
                    </div>
                    <div class="members-prio-container">
                        <div class="members-container">
                            <p class="member-icon">AB</p>
                        </div>
                        <img src="../../img/board/prio-medium-icon.svg" alt="prio medium">
                    </div>
                </div>

                <div class="task-card">
                    <p class="task-category">User Story</p>
                    <h3>Kochwelt Page &amp; Recipe Recommender</h3>
                    <p>Build start page with recipe recommendation...</p>
                    <div class="progress-container">
                        <progress id="progressBar2" value="50" max="100"></progress>
                        <label for="progressBar"><span id="subtasksDone2">1</span>/<span id="subtasksAmount2">2</span> Subtasks</label>
                    </div>
                    <div class="members-prio-container">
                        <div class="members-container">
                            <p class="member-icon">AB</p>
                        </div>
                        <img src="../../img/board/prio-medium-icon.svg" alt="prio medium">
                    </div>
                </div>
            </div>

            <div class="card-container-empty">
                <p>No tasks To do</p>
            </div>
        </section>



        <!------------------ AWAIT FEEDBACK SECTION ------------------>
        <section class="task-section">
            <h2>To do</h2>
            <img class="plus-icon" src="../../img/board/plus-icon.svg" alt="plus">


            <div class="card-container">
                <div class="task-card">
                    <p class="task-category">User Story</p>
                    <h3>Kochwelt Page &amp; Recipe Recommender</h3>
                    <p>Build start page with recipe recommendation...</p>
                    <div class="progress-container">
                        <progress id="progressBar" value="50" max="100"></progress>
                        <label for="progressBar"><span id="subtasksDone">1</span>/<span id="subtasksAmount">2</span> Subtasks</label>
                    </div>
                    <div class="members-prio-container">
                        <div class="members-container">
                            <p class="member-icon">AB</p>
                        </div>
                        <img src="../../img/board/prio-medium-icon.svg" alt="prio medium">
                    </div>
                </div>

                <div class="task-card">
                    <p class="task-category">User Story</p>
                    <h3>Kochwelt Page &amp; Recipe Recommender</h3>
                    <p>Build start page with recipe recommendation...</p>
                    <div class="progress-container">
                        <progress id="progressBar2" value="50" max="100"></progress>
                        <label for="progressBar"><span id="subtasksDone2">1</span>/<span id="subtasksAmount2">2</span> Subtasks</label>
                    </div>
                    <div class="members-prio-container">
                        <div class="members-container">
                            <p class="member-icon">AB</p>
                        </div>
                        <img src="../../img/board/prio-medium-icon.svg" alt="prio medium">
                    </div>
                </div>
            </div>

            <div class="card-container-empty">
                <p>No tasks To do</p>
            </div>
        </section>





        <!------------------ DONE SECTION ------------------>
        <section class="task-section">
            <h2>To do</h2>
            <img class="plus-icon" src="../../img/board/plus-icon.svg" alt="plus">


            <div class="card-container">
                <div class="task-card">
                    <p class="task-category">User Story</p>
                    <h3>Kochwelt Page &amp; Recipe Recommender</h3>
                    <p>Build start page with recipe recommendation...</p>
                    <div class="progress-container">
                        <progress id="progressBar" value="50" max="100"></progress>
                        <label for="progressBar"><span id="subtasksDone">1</span>/<span id="subtasksAmount">2</span> Subtasks</label>
                    </div>
                    <div class="members-prio-container">
                        <div class="members-container">
                            <p class="member-icon">AB</p>
                        </div>
                        <img src="../../img/board/prio-medium-icon.svg" alt="prio medium">
                    </div>
                </div>

                <div class="task-card">
                    <p class="task-category">User Story</p>
                    <h3>Kochwelt Page &amp; Recipe Recommender</h3>
                    <p>Build start page with recipe recommendation...</p>
                    <div class="progress-container">
                        <progress id="progressBar2" value="50" max="100"></progress>
                        <label for="progressBar"><span id="subtasksDone2">1</span>/<span id="subtasksAmount2">2</span> Subtasks</label>
                    </div>
                    <div class="members-prio-container">
                        <div class="members-container">
                            <p class="member-icon">AB</p>
                        </div>
                        <img src="../../img/board/prio-medium-icon.svg" alt="prio medium">
                    </div>
                </div>
            </div>

            <div class="card-container-empty">
                <p>No tasks To do</p>
            </div>
        </section>
    </div>
</body>

</html>