
/*************** DIALOG ***************/

.dialog-container {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(341, 0%, 0%, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: white;
    width: 552px;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 20px;
}

.detail-taskname {
    font-size: 53px;
}

/*************** HEADER ***************/

.detail-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.detail-close-icon:hover {
    cursor: pointer;
}

/*************** DATE-PRIO-CONTAINER ***************/

.detail-date-prio-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 24px;
}

.detail-priority {
    display: flex;
    /* align-items: center; */
    gap: 6px;
}

.detail-date-prio-container img {
    width: 1em;
}


/*************** MEMBERS ***************/

.detail-members-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 12px;
}

.detail-members-container-headline,
.detail-subtasks-headline {
    position: relative;
    right: 12px;
}

.detail-member {
    display: flex;
    align-items: center;
}

.detail-member .member-icon {
    margin-right: 5px
}

/*************** STUBTASKS ***************/


.detail-subtasks-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-left: 12px;
}

.detail-subtask {
    display: flex;
    align-items: center;
    gap: 14px;
}

.detail-subtask:hover {
    cursor: pointer;
}

.detail-subtask img {
    height: 1.3em;
}

/*************** FOOTER ***************/

.detail-footer {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.detail-footer-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-footer-button:hover {
    cursor: pointer;
}
