/*
Font:
https://fonts.google.com/specimen/Inter
*/

/*************** VARIABLES ***************/

:root {
    --reini-lighter-grey: #D1D1D1;
    --reini-light-grey: #A8A8A8;
    --reini-dark-blue: #2A3647;
}

/*************** GLOBAL ***************/

.headline-section,
.sections-container {
    font-family: sans-serif;
}

/*************** HEADLINE SECTION ***************/

.headline-section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    padding: 0 64px;
    height: 150px;
}

.headline-board {
    font-size: 61px;
    margin: 0;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 8px 16px;
    border-radius: 10px;
    border-color: var(--reini-light-grey);
}

.input-wrapper input {
    flex-grow: 1;
    font-size: 20px;
    color: var(--reini-light-grey);
    border: none;
}

.input-devider {
    height: 31px;
    width: 1px;
    border-radius: 100px;
    background-color: var(--reini-lighter-grey);
}

.input-wrapper img {
    height: 32px;
    margin-left: 32px;
}

.headline-plus-button {
    grid-column: 3;
    background-color: var(--reini-dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 160px;
    padding: 6px 0;
    border-radius: 10px;
    margin-left: 32px;
    border: none;
}

span.plus-button-text {
    color: white;
    font-size: 21px;font-weight: 700;
}

.headline-plus-icon {
    width: 40px;
}

/*************** SECTIONS CONTAINER ***************/

.sections-container {
    display: flex;
}

.task-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid red;
}

.plus-icon {
    height: 1em;
}

/*************** TASK SECTIONS ***************/

.task-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.task-section > .plus-icon {
    justify-self: end;
}

.card-container {
    grid-column: 1 / 3;
}

.members-prio-container {
    display: flex;
    justify-content: space-between;
}

.members-prio-container > img {
    width: 1em;
}

.card-container-empty {
    grid-row: 2;
    grid-column: 1 / 3;
}








/*************** MOBILE ***************/

@media only screen and (max-width: 750px) and (min-width: 350px) {
    section.headline-section {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 200px;
    }

    .headline-board {
        font-size: 47px;
    }

    .headline-plus-button {
        display: flex;
        align-items: center;
        justify-self: end;
        grid-column: 2;
        width: 40px;
        height: 40px;
    }

    .plus-button-text {
        display:none;
    }

    .input-wrapper {
        grid-row: 2;
        grid-column: 1 / 3;
    }

    /* SECTIONS-CONTAINER */
    .sections-container {
        flex-direction: column;
    }
}