<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../style.css" />
    <script src="../../../script.js"></script>
    <script src="../../models/user.class.js"></script>
    <script src="../../worker/inputFocus/inputFocus.js"></script>
    <script src="./login.js"></script>
    <title>Join - Login</title>
  </head>

  <body onload="loadData();">
    <div class="join-logo-animation">
      <img src="../../img/login/firstLogo.svg" alt="" id="login-second-img" />
      <img src="../../img/login/secondLogo.svg" alt="" id="login-primary-img" />
    </div>

    <div class="firstLogin">
      <div class="loginLayout LogInBoxShadow">
        <div class="headerLogin">
          <h1>Log in</h1>
          <div class="underlineFrameMobileLogIn"></div>
        </div>

        <div class="emailDevision" id="emailDevision">
          <input
            class="logInpMail"
            required
            minlength="2"
            type="email"
            placeholder="Email"
            id="login-input-email"
            autocomplete="username"
            onfocus="changeBorderColor('emailDevision')"
            onblur="resetBorderColor('emailDevision')"
            data-login
          />
          <img class="inpIconStyle" src="../../img/login/mail.svg" />
        </div>

        <div class="passwortDevision" id="passwortDevision">
          <input
            class="logInpPass"
            id="login-input-password"
            required
            minlength="2"
            type="password"
            placeholder="Password"
            autocomplete="current-password"
            onfocus="changeBorderColor('passwortDevision')"
            onblur="resetBorderColor('passwortDevision')"
            data-login
          />
          <img
            style="padding-right: 3px"
            class="inpIconStyle"
            src="../../img/login/lock.svg"
          />
        </div>

        <div class="forgotPassword" style="display: none">
          Forgot my password
        </div>

        <div class="rememberBox">
          <input
            type="checkbox"
            name="checkRemember"
            value="Remember me"
            id="rememberMe"
            onclick="handleRememberme()"
          />
          <label class="rememberLabel" for="rememberMe">Remember me</label>
        </div>

        <div class="loginBtnBox">
          <p id="login-error" style="color: red"></p>
          <div class="justBtn">
            <button class="confirmLogInBtn" onclick="login()" id="login-btn">
              Log in
            </button>
            <button class="guestLogInBtn" onclick="loginAsGuest()">
              Guest Log in
            </button>
          </div>
        </div>
      </div>

      <div class="mobileNotUser" id="mobileNotUser">
        <p>Not a Join user?</p>
        <button
          class="mobileNotUserBtn"
          id="mobileNotUserBtn"
          onclick="redirectToRegister()"
        >
          Sign up
        </button>
      </div>

      <div class="logInExtraBox">
        <div class="mobilePoliceLegal" id="mobilePoliceLegal">
          <a
            class="mobilePoliceLegalAnchor"
            id="external-Link-01"
            href="./../../../assets/templates/privacy_policy/privacy_policy_external.html"
            target="_blank"
            >Privacy Police</a
          >
          <a
            id="external-Link-02"
            class="mobilePoliceLegalAnchor"
            href="./../../../assets/templates/legal_notice/legal_notice_external.html"
            target="_blank"
            >Legal notice</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
