    <div class="container" id="container">
      <div
        w3-include-html="./assets/templates/header_template.html"
        id="headerTemplate"
        class="headerTemplate"
      ></div>

      <!-- Hier wird der Inhalt angezeigt -->
      <div id="contactsContent" class="contactsContent"></div>

      <div
        w3-include-html="assets/templates/summary/summary_template.html"
        id="content"
        class="content"
      ></div>

      <div
        w3-include-html="./assets/templates/menu_template.html"
        id="menuTemplate"
        class="menuTemplate"
      ></div>
    </div>
    
<!-- Hier wird der Inhalt angezeigt -->
<div id="contactsContent" class="contactsContent"></div>

