<!-- Hier wird der Inhalt angezeigt -->
<div class="contactsDesktop" onload="renderContactsDesktop()">
  <div id="contactsContent" class="contactsContent"></div>
  

  <!--  -->
  <!-- <div
    w3-include-html="assets/templates/summary/summary_template.html"
    id="content"
    class="content"
  >
  </div> -->

  <div id="contactsContentRightSideID" class="contactsContentRightSide">
      <div class="contactsContentRightSideHeadLine">
        <h1 class="contactsContentRightSideH1">
          Contacts
        </h1>
        <img src="../../assets/img/contact/contactsContentRightSideBlueStripe.svg" alt="">        
        <p class="contactsContentRightSideHeadLinePElement">Better with a team</p>
      </div>
    </div>
</div>