@media only screen and (max-width: 960px) and (min-width: 320px) {
  /* Mobile view */
  /* contacts screen style */
  .container {
    overflow: hidden;
  }

  .contactsContent {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-y: scroll;
    height: 100vh; /* Full viewport height */    
  }

  .slideInContactsContentMobile {  /* Slide in animation class */
    animation: slideInContactsContentMobileAnimation 0.5s ease-in-out;
}

  @keyframes slideInContactsContentMobileAnimation {  /* Slide in animation */
    from {
        transform: translateY(100%); /* Startposition: 100% off screen to slide in */
    }
    to {
        transform: translateY(0); /* Endposition: set to normal position */
    }
}

  /* Add contact screen style */

  .addContactCloseXContainer {
    position: fixed;
    top: 1em;
    right: 2em;
  }

  .addContactContainerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: var(--light-grey);
  }

  .addContactBlockHeader {
    display: block;
  }

  .addContactBlankUserImg {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
  }

  .addContactContainerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: white;
    gap: 20px;
  }

  .addContactInputNameMobile {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-image: url("../../img/contact/addContactUserNameImg.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
  }

  .addContactInputNameMobile:focus {
    outline: none;
    border-color: var(--light-blue);
  }

  .addContactInputMailAddresssMobile {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-image: url("../../img/contact/addContactmailIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
  }

  .addContactInputMailAddresssMobile:focus {
    outline: none;
    border-color: var(--light-blue);
  }

  .addContactInputPhoneMobile {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-image: url("../../img/contact/addContactPhoneIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 5px;
    width: 364px;
    height: 41px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
  }

  .addContactInputPhoneMobile:focus {
    outline: none;
    border-color: var(--light-blue);
  }

  .addContactBlueStroked {
    margin-right: 7em;
  }

  .createContactInputListItem {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  #addContactUserNameImgID {
    position: absolute;
    right: 8px;
  }

  .addContactImage {
    pointer-events: visible !important; /* Important for the onclick function */
  }

  .createContactButtonImg {
    height: 51px;
  }

  .addContactH1 {
    color: white;
    font-size: 3rem;
  }

  .addContactText {
    color: white;
  }

  .addContactButtonContainerMobile {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    cursor: pointer;  
    margin-right: 1em;
    height: 30vh;
  }

  .addContactButtonContainerDesktop {
    display: none;
  }

  .addContactButtonImage {
    width: 352px;
  }

  .letterAndContactsContainer {
    display: flex;
    align-items: center;
    margin: 10px;
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 10px;
  }

  .letter-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }

  .contact-first-letter {
    margin: 0; /* Delete margin of h2 */    
  }

  .contacts-info-column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .contact-card {
    display: flex;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    background-color: white;
  }

  .contact-card-Img-Container {
    display: flex;
    align-items: center;
  }

  .contact-info-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* The container for the namen and the e-mail-Address take the remaining free space */
    margin-left: 3em;
    cursor: pointer;
  }

  .contactImg {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .oneContactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
  }

  /* Open contact screen style */

  .openContactContainerHeader {
    display: flex;
    background-color: var(--white-grey);
    height: 20vh;
    padding-top: 2em;
    margin-left: 1em;
  }

  .openContactH1 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
  }

  .openContactText {
    color: black;
  }

  .openContactContentContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--white-grey);
  }

  .openContactCloseXContainer {
    display: flex;
    justify-content: right;
  }

  .openContactContainerFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    gap: 2em;
    background-color: var(--white-grey);
  }

  .oneContactContainerH2Desktop {
    color: black;
    font-size: 20px;
    font-weight: 400;
  }

  .JustifyContentRight {
    display: flex;
    justify-content: right;
  }

  .marginLeft {
    margin-left: 6em;
  }

  .openContactBlockHeader {
    display: flex;
  }

  .arrorLeftContainer {
    position: absolute;
    top: 105h;
    right: 5vw;
  }

  .openContactUserImageAndNameContainer {
    display: flex;
    align-items: center;
    margin-left: 1em;
  }

  .openContactH2 {
    font-size: 1.5em;
    margin-left: 0.5em;
  }

  .openContactUserImg {    
    height: 32px;
    width: 32px;    
  }

  .openContactUserImgMobile {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid white;
  }

  .openContactInformation {
    font-size: 1em;
    font-weight: bold;
    margin-left: 1em;
  }

  .openContactEmail {
    font-weight: 900;
    margin-left: 1em;
  }

  .openContactEmailLink {
    color: #007cee;
    margin-left: 1em;
    text-decoration: none;
    cursor: pointer;
  }

  .openContactPhoneText {
    font-weight: 900;
    margin-left: 1em;
  }

  .openContactOptionButtonContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 1.8em;
    margin-top: 16em;
  }

  .openContactPhoneNumber {
    margin-left: 1em;
  }

  /* Drop down menu style */

  .dropdown-container {
    position: fixed;
    display: none; /* standard dont show drop down container */
    overflow-x: hidden;
    bottom: 4rem;
    right: 0.5rem;
  }

  .dropdown-container.visible {
    display: block; /* To show the drop down container */
  }

  .editContactsDropDownIcon {
    height: 25px;
  }

  #contactOptionsDropdownContainer {
    position: relative;
    display: inline-block;
  }

  .dropdown-trigger {
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 1.5em;
    margin-top: 16em;
  }

  .dropdown-menu {
    position: absolute;
    right: -300px; /* Start position outside from viewport */
    top: 5em;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slide-in-menu 0.3s ease forwards; /* Animation for "forwards" */
    overflow-x: hidden;
  }

  @keyframes slide-in-menu {
    from {
      right: -300px;
      display: block; /* Show at start of the Animation */
    }
    to {
      right: 1em;
    }
  }

  .dropdown-container .dropdown-menu {
    display: none; /* standard dont show drop down container */
  }

  .dropdown-container.visible .dropdown-menu {
    display: block; /* To show the drop down container */
  }

  .dropdown-option {
    padding: 8px;
    cursor: pointer;
  }

  .dropdown-option:hover {
    cursor: pointer;
    background-color: var(--light-blue);
  }

  .oneContactContainerAElement {
    color: #007cee;
    text-decoration: none;
    cursor: pointer;
  }

  .addContactCloseXButtonMobile {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: var(--light-grey);
  }

  .addContactCloseXButtonMobile:active {
    color: var(--light-blue);
  }

  .dropdown-triggerContainer {
    display: flex;
    flex-direction: row-reverse;   
  }
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/* Desktop view */
@media only screen and (max-width: 4000px) and (min-width: 961px) {
  .content {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: 100%;   
  }

  .contactsDesktop {
    display: flex;
    position: relative;   
  }

  .mobileHeader {
    background-color: white;
  }

  .contactsContent {
    background-color: white;
    overflow-x: hidden;
    position: relative;    
    min-width: 30%;
    height: 91vh; /* Full viewport height */
    overflow-y: scroll; /* Enable vertical scrolling if necessary */   
  }

  .letterAndContactsContainer {
    display: flex;
    align-items: center;
    margin: 10px;
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 10px;
    font-size: 1.5vw;
  }

  .oneContactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    border-radius: 10px;
    cursor: pointer;
  }

  .contact-info-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* The container for the namen and the e-mail-Address take the remaining free space */
    margin-left: 3em;
    cursor: pointer;
    padding: 15px 24px 15px 24px;
  }

  .contactImg {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .addContactButtonContainerMobile {
    display: none;
  }

  .addContactButtonContainerDesktop {
    display: flex;    
    align-items: center;
    position: sticky;
    bottom: 32px;
    right: 32px;
    cursor: pointer;
    margin-top: 4vh;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 2vh;
    height: 27px;    
  }

  .addContactImage {
    pointer-events: visible !important; /* Important for the onclick funktion */
    width: 352px;
  }

  .addContactImage:hover {
    pointer-events: visible !important; /* Important for the onclick funktion */
    background-color: var(--light-blue);
  }

  .contactsContentRightSide {
    display: flex;
    flex-direction: column;
    min-width: 70%;
    background-color: var(--white-grey);
    position: sticky;
    top: 10px;
    max-height: calc(100vh - 100px); /* Calculate the maximum height (100vh minus header-height) */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    margin-left: 5px;
  }

  .contactsContentRightSideHeadLine {
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: 2em;
    margin-top: 5em;
  }

  .contactsContentRightSideBlueStribeSvg {
    height: 4vw;
  }

  .contactsContentRightSideH1 {
    font-size: 5vw;
    font-weight: 700;
    color: black;
  }

  .contactsContentRightSideHeadLinePElement {
    font-size: 2vw;
    font-weight: 400;
    color: black;
  }

  .contactsContentRightSideUserImgAndNameContainer {
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 5em;
    margin-left: 2em;
    margin-top: 5em;
  }

  .openContactUserImg {
    height: 120px;
    width: 120px;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 8px solid white;
    position: relative;
  }

  .contactsContentRightSideUserNameH2 {
    font-size: 47px;
    font-weight: 500;
  }

  .contactsContentRightSideEditAndDeleteButtonContainer {
    display: flex;
  }

  .contactsContentRightSideEditButton {
    height: 2vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .contactsContentRightSideEditButton:hover {
    filter: saturate(400%) brightness(550%);
  }

  .contactsContentRightSideDeleteButton {
    height: 2vw;    
    cursor: pointer;
    margin-left: 30px;
    transition: background-color 0.3s ease;
  }

  .contactsContentRightSideDeleteButton:hover {
    filter: saturate(400%) brightness(550%);
  }

  .contactsContentRightSideContactInformationDesktop {
    margin-top: 59px;
    margin-left: 2em;
  }

  .contactsContentRightSideContactInformationDesktopPText {
    color: black;
    font-size: 2.5vw;
    font-weight: 400;
  }

  .contactsContentRightSideContactEmailH2Desktop {
    margin-top: 59px;
    margin-left: 2em;
  }

  .openContactEmailLinkDesktopContainer {
    margin-top: 20px;
  }

  .openContactEmailLinkDesktop {
    cursor: pointer;
    text-decoration: none;
    color: #007cee;
    margin-left: 2rem;
    cursor: pointer;
    font-size: 1vw;
  }

  .openContactEmailLinkDesktop:hover {
    color: var(--light-blue);
  }

  .openContactPhoneNumberDesktopContainer {
    margin-top: 20px;
    margin-left: 2em;
  }

  .openContactPhoneNumberDesktopPElement {
    color: black;
    font-size: 1.5vw;
    font-weight: 400;
  }

  .contactsContentRightSideContactPhoneH2DesktopContainer {
    margin-top: 20px;
    margin-left: 2em;
  }

  .contactsContentRightSideContactPhoneH2Desktop {
    font-size: 1.5vw;
    font-weight: 700;
  }

  .contactsContentRightSideContactEmailH2 {
    font-size: 1.5vw;
    font-weight: 700;
  }

  .contactsContentRightSideContactPhoneH2 {
    font-size: 16px;
    font-weight: 700;
  }

  .openphoneNumberDesktopContainer {
    margin-top: 20px;
    margin-left: 2em;
  }

  .openphoneNumberDesktopPElement {
    font-size: 1.5vw;
    font-weight: 400;
  }

  .addContactButtonDesktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 4vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    background-color: var(--light-grey);
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 12px 0 12px 0;
    font-size: 21px;
    font-weight: 700;
    gap: 16px;    
    flex-shrink: 0;
    text-align: center;
    background-size: 10%;
    cursor: pointer;
  }

  .addContactButtonDesktop:hover {
    background-color: var(--light-blue);
  }

  .addContactButtonDesktopImg {    
    width: 32px;
    height: 32px;    
  }

  .overlay-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Change background-color in background with opacity */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay-content {    
    background: white;
    overflow: hidden;
    border-radius: 20px;
  }

  .overlay-card {
    display: flex;
    position: relative;
    height: 100%;
  }

  /* Animation for the Overlay */
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* Add contact */
  .addContactDesktopLeftSideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 467px;    
    background-color: var(--light-grey);
    gap: 16px;
  }

  .addContactDesktopRightSideContainer {
    display: flex;
    width: 800px;
    background-color: white;
  }

  .joinLogoGreyBackgroundImg {
    width: 56px;
    height: 67px;
  }

  .addContactDesktopLeftSideContainerH1 {
    font-size: 61px;
    font-weight: 700;
    color: white;
    margin-top: 16px;
  }

  .addContactDesktopLeftSideContainerPElement {
    color: white;
    margin-top: 16px;
    font-size: 27px;
    font-weight: 400;
  }

  .flexDirectionColumn {
    display: flex;
    flex-direction: column;
  }

  .addContactBlueStroked {
    width: 90px;
    margin-top: 16px;
  }

  .addContactBlankUserImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 150px;    
    margin-left: 70px;
    margin-right: 70px;  
  }

  .addContactBlankUserImg {
    height: 120px;
    width: 120px;
  }

  .addContactCloseXContainer {
    display: flex;
    justify-content: right;
    margin-top: 25px;
    margin-right: 50px;    
  }

  .addContactDesktopRightSideContent {
    display: flex;
    flex-direction: column;
    flex: auto;    
  }

  .addContactContainerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: white;
    gap: 20px;
  }

  .addContactInputNameDesktop {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-image: url(../../img/contact/addContactUserNameImg.svg);
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 10px;
    width: 422px;
    height: 50px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
  }

  .addContactInputNameDesktop:focus {
    outline: none;
    border-color: var(--light-blue);
  }

  .addContactInputMailAddresssDesktop {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-image: url("../../img/contact/addContactmailIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 10px;
    width: 422px;
    height: 50px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
  }

  .addContactInputMailAddresssDesktop:focus {
    outline: none;
    border-color: var(--light-blue);
  }

  .addContactInputPhoneDesktop {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-image: url("../../img/contact/addContactPhoneIcon.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 10px;
    width: 422px;
    height: 50px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
  }

  .addContactInputPhoneDesktop:focus {
    outline: none;
    border-color: var(--light-blue);
  }

  .addContactCancelButtonDesktop {
    height: 56px;
    width: 126px;
    cursor: pointer;
  }

  .createContactButtonImg {
    height: 57px;
    width: 214px;
    cursor: pointer;
    margin-left: 24px;
  }

  .createContactButton {
    cursor: pointer;
    border: 1px solid;
    border-radius: 8%;
    padding: 15px 40px 15px 24px;
    color: white;
    background-color: var(--light-grey);
    font-size: 21px;
    font-weight: 700;
    border-color: var(--light-grey);
    margin-left: 20px;
    background-image: url("../../img/contact/createContactButtonCheckDesktop.svg");
    background-repeat: no-repeat;
    background-position-x: 185px;
    background-position-y: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .createContactButton:hover {
    border: 1px solid;
    border-color: var(--light-grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: var(--light-blue);
    border: 0;
  }

  .oneContactContainerH2Desktop {
    color: black;
    font-size: 20px;
    font-weight: 400;
  }

  .oneContactContainerAElement {
    color: #007cee;
    text-decoration: none;
    cursor: pointer;
  }

  .createContactButtonImgContainer {
    display: flex;
    justify-content: left;
    margin-right: 12em;
  }

  .editContactDesktopDeleteButton {
    cursor: pointer;
    border: 1px solid;
    border-radius: 8%;
    box-shadow: 0 4px 8px rgb(255, 255, 255, );
    padding: 15px 24px 15px 24px;
    color: var(--light-grey);
    background-color: white;
    font-size: 21px;
    font-weight: 400;
    border-color: var(--light-grey);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;   
  }

  .editContactDesktopDeleteButton:hover {
    border-color: var(--light-blue);
    color: var(--light-blue);
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid;
  }

  .openContactUserImgMobile {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid white;
    position: relative;
  }

  .cancelContactDesktopDeleteButton {
    cursor: pointer;
    border: 1px solid;
    border-radius: 8%;
    box-shadow: 0 4px 8px rgb(255, 255, 255, );   
    padding: 15px 24px 15px 24px;
    color: var(--light-grey);
    background-color: white;
    font-size: 21px;
    font-weight: 400;
    border-color: var(--light-grey);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .cancelContactDesktopDeleteButton:hover {
    border: 1px solid;
    border-color: var(--light-blue);
    color: var(--light-blue);
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid;
  }

  .saveContactButtonImg {
    cursor: pointer;
    border: 1px solid;
    border-radius: 8%;
    padding: 15px 24px 15px 24px;
    color: white;
    background-color: var(--light-grey);
    font-size: 21px;
    font-weight: 700;
    border-color: var(--light-grey);
    margin-left: 20px;
  }

  .saveContactButtonImg:hover {
    border: 1px solid;
    border-color: var(--light-grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: var(--light-blue);
    border: 0;
  }

  .addContactCloseXButton {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    border: 0;
    color: var(--light-grey);
    background-color: white;
    font-weight: bold;
    font-size: 24px;
  }

  .addContactCloseXButton:hover {
    background-color: #d9d9d9;
    transform: scale(0.95);
  }

  .saveContactButtonDesktop {
    cursor: pointer;
    border: 1px solid;
    border-radius: 8%;
    padding: 15px 40px 15px 24px;
    color: white;
    background-color: var(--light-grey);
    font-size: 21px;
    font-weight: 700;
    border-color: var(--light-grey);
    margin-left: 20px;
    background-image: url("../../img/contact/createContactButtonCheckDesktop.svg");
    background-repeat: no-repeat;
    background-position-x: 85px;
    background-position-y: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  .saveContactButtonDesktop:hover {
    border: 1px solid;
    border-color: var(--light-grey);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: var(--light-blue);
    border: 0;
  }
}

@media only screen and (max-width: 4000px) and (min-width: 1900px) {
  .openContactUserImg {
    height: 240px;
    width: 240px;
    font-size: 2vw;
  }

  .openContactUserImgMobile {
    height: 240px;
    width: 240px;
    font-size: 2vw;
  }

  .contactsContentRightSideUserNameH2 {
    font-size: 2vw;
  }

  .addContactButtonContainerDesktop {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .addContactButtonDesktop {
    font-size: 1vw;
  }

  .addContactButtonDesktopImg {
    width: 64px;
    height: 64px;
  }

  .overlay-content {
    width: 80vw;
  }

  .overlay-card {
    width: 80vw;
  }

  .addContactDesktopRightSideContainer {
    display: flex;  
    background-color: white;
    width: 70vw;
  }

  #addContactForm {
    display: flex;
    flex-direction: column;
  }

  .addContactContainerFooter {
    display: flex;
    flex-direction: column;
  }

  .addContactInputNameDesktop {
    width: 900px;
    height: 100px;
    font-size: 1vw;
    background-size: 60px;
  }

  .addContactInputMailAddresssDesktop {
    width: 900px;
    height: 100px;
    font-size: 1vw;
    background-size: 60px;
  }

  .addContactInputPhoneDesktop {
    width: 900px;
    height: 100px;
    font-size: 1vw;
    background-size: 60px;
  }

  .addContactDesktopLeftSideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 467px;    
    background-color: var(--light-grey);
    gap: 16px;
  }

  .joinLogoGreyBackgroundImg {
    width: 224px;
    height: 268px;
  }

  .addContactDesktopLeftSideContainerH1 {
    font-size: 3vw;
  }

  .addContactBlueStroked {
    width: 4vw;
  }

  .cancelContactDesktopDeleteButton {
    padding: 30px 48px 30px 48px;
    font-size: 1vw;
  }

  .createContactButton {
    padding: 30px 48px 30px 48px;
    font-size: 1vw;
  }

  .addContactBlankUserImg {
    height: 240px;
    width: 240px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 350px) {
  .addContactButtonContainerDesktop {
    display: flex;    
    align-items: center;
    position: sticky;
    bottom: 32px;
    right: 32px;
    cursor: pointer;
    margin-top: 2em;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 2rem;
    height: 27px;
  }

  .addContactButtonDesktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 56px;
    background-color: var(--light-grey);
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 12px 0 12px 0;
    font-size: 16px;
    font-weight: 700;    
    overflow-wrap: break-word;
    flex-shrink: 2;
    text-align: center;
    background-size: 10%;
    cursor: pointer;
  }

  .addContactButtonDesktopImg {    
    width: 24px;
    height: 24px;    
  }
}

@media only screen and (max-width: 1440px) and (min-width: 751px) {
  .addContactButtonDesktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 64px;
    background-color: var(--light-grey);
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 12px 0 12px 0;
    font-size: 12px;
    font-weight: 700;    
    overflow-wrap: break-word;
    flex-shrink: 2;
    text-align: center;
    background-size: 10%;
    cursor: pointer;
  }

  .addContactButtonDesktopImg {    
    width: 24px;
    height: 24px;    
  }

  .oneContactContainerH2Desktop {    
    font-size: 16px;
    font-weight: 400;
  }

  .oneContactContainerAElement {
    color: #007cee;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
  }

  .addContactBlankUserImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 961px) {
  .contact-info-container {
    margin-left: 0;
  }

  .addContactDesktopLeftSideContainer {    
    min-width: 375px;    
  }

  .addContactDesktopRightSideContainer {
    display: flex;
    width: 600px;
    background-color: white;
  }

  .overlay-content {
    width: 1000px;    
  }  
}

@media only screen and (max-width: 4000px) and (min-width: 1700px) {
  .member-icon {
    font-size: 2rem !important;
    height: 80px !important;
    width: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid white;
    position: relative;
}

.oneContactContainerH2Desktop {
  font-size: 1.5vw;
}

.oneContactContainerAElement {
  font-size: 1vw;
}
}


@media only screen and (max-width: 1900px) and (min-width: 1200px) {
  .addContactBlankUserImgContainer {    
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 120px;
}
}

@media only screen and (max-width: 1200px) {
  .addContactBlankUserImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 150px;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media only screen and (max-width: 1000px) {
  .addContactBlankUserImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 920px) {
  .overlay-card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}
  .addContactCloseXButtonMobile {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: var(--light-grey);
}
}

@media only screen and (max-width: 900px) and (min-width: 751px) {
  .addContactButtonContainerMobile {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    cursor: pointer;  
    margin-right: 1em;
    margin-bottom: 8em;
    height: 30vh;
  }

  .addContactButtonDesktop {    
    width: 352px;
    height: 56px;    
    font-size: 12px;
  }

  .addContactButtonDesktopImg {    
    width: 24px;
    height: 24px;    
  }

  .contactsContentRightSideH1 {
    font-size: 40px;       
  }

  .contactsContentRightSideHeadLinePElement {
    font-size: 16px;       
  }

  .openContactUserImg {
    height: 100px;
    width: 100px;  
  }

  .contactsContentRightSideUserNameH2 {
    font-size: 40px;    
  }

  .addContactBlankUserImg {
    position: absolute;
    top: 58%;
    left: 60%;
    transform: translate(-50%, -50%);
  }  
}

@media only screen and (max-width: 960px) and (min-width: 751px) {
  .dropdown-trigger {
    margin-top: 22em!important;
  }

  .addContactButtonContainerMobile {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    cursor: pointer;  
    margin-right: 1em;
    margin-bottom: 6em;
    height: 30vh;  
  }

  .addContactCloseXContainer {
    top: 6em;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    height: 100dvh!important;
    overflow-y: scroll!important;
  }

  .contactsContent {
    height: 100%;
    overflow-y: hidden;
  }

  .addContactBlankUserImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 400px) {
  .addContactInputNameMobile {
    width: 230px;
  }
  .addContactInputMailAddresssMobile {
    width: 230px;
  }

  .addContactInputPhoneMobile {
    width: 230px;
  }

  .dropdown-trigger {
    margin-top: 13em;
  }
}

::-webkit-scrollbar {
  width: 16px;
  border: 5px solid white;  
}

::-webkit-scrollbar-thumb {
  background-color: rgba(168, 168, 168, 1);  /* Scrollbar color */
  background-clip: padding-box;
  border: 0.05em solid #eeeeee;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: white;  /* Scrollbar background-color */
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {  /* Scrollbar arrow up */
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
  background-color: white;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;  
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {  /* Scrollbar arrow down */
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
  background-color: white;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}