@media only screen and (max-width: 750px) and (min-width: 350px) {
  .contactsContent {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-y: scroll;    
    position: relative;
  }

  .addContactCloseXContainer {
      position: fixed;
      top: 1em;
      right: 2em;
  }

  .addContactContainerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: var(--light-grey);
  }

  .addContactBlockHeader {
    display: block;
  }

  .addContactBlankUserImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .addContactContainerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: white;
    gap: 20px;
  }

  .addContactInputName {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    background-image: url("../../img/contact/addContactUserNameImg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 20em;
    height: 2em;
    position: relative;
  }

  .addContactInputMailAddresss {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    background-image: url("../../img/contact/addContactmailIcon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 20em;
    height: 2em;
    position: relative;
  }

  .addContactInputPhone {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    background-image: url("../../img/contact/addContactPhoneIcon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 20em;
    height: 2em;
    position: relative;
  }

  .addContactBlueStroked {
    margin-right: 7em;
  }

  .createContactInputListItem {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  #addContactUserNameImgID {
    position: absolute;
    right: 8px;
  } 

  .addContactImage {
    pointer-events: visible !important; /* Wichtig um die onklick Funktion ausführen zu können */
  }

  .createContactButtonImg {
    height: 51px;
  }

  .addContactH1 {
    color: white;
    font-size: 3rem;
  }

  .addContactText {
    color: white;
  }

  .addContactButtonContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    position: sticky;
    bottom: 32px;
    right: 32px;
  }

  .addContactButtonImage {
    width: 352px;
  }

  .letterAndContactsContainer {
    display: flex;    
    align-items: center;
    margin: 10px; /* Fügt etwas Abstand zwischen den Abschnitten hinzu */
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 10px; /* Füget zusätzlichen Raum unterhalb des Strichs hinzu */
  }

  .oneContactContainer {
    display: flex;
    flex-direction: row;
  }

  .letter-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriet die Buchstaben horizontal */
    margin-right: 10px; /* Fügt etwas Abstand zwischen den Buchstaben und den Kontakten hinzu */
  }

  .contact-first-letter {
    margin: 0; /* Entfernt den Standardabstand von h2 */
  }

  .contacts-info-column {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Fügt etwas Abstand zwischen den Buchstaben und den Kontakten hinzu */
  }

  .contact-card {
    display: flex;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    background-color: white;
  }

  .contact-card-Img-Container {
    display: flex;
    align-items: center; /* Zentriere das Bild vertikal im Container */
  }

  .contact-info-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* Der Container für den Namen und die E-Mail-Adresse nimmt den verbleibenden Platz ein */
    margin-left: 3em 
  }

  .contactImg {
    height: 40px;
    width: 40px;
  }
}

.justifyContentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.openContactContainerHeader {
  display: flex;
  flex-direction: column;  
  background-color: var(--white-grey);
  height: 85vh;
  margin-top: 2em;
}

.openContactH1 {
  color: black;
  font-size: 3rem;
}

.openContactText {
  color: black;
}

.openContactContentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.openContactCloseXContainer {
  position: fixed;
  top: 6em;
  right: 1em;
}
