<!--Header Template</!-->
<div class="mobileHeader">
  <div class="logoImgContainer">
    <img class="logoImg" src="./assets/img/join_logo1.svg" alt="logo">    
  </div>

  <div id="signUpContainerID" class="signUpContainer">    <!--Sign Up Container for not regestrated user</!-->
    <p class="signUpParagraph">Not a Join user?</p>
    <button id="sign_up_ButtonID" class="sign_up_Button">Sign up</button>
  </div>

  <div id="userSymbolContainerID" class="userSymbolContainer">    <!--User Symbol Container for regestrated user</!-->
    <img class="userLogoImg" src="./assets/img/userLogo.svg" alt="">
  </div>
</div>
