<!--Header Template</!-->
<div class="mobileHeader">
  <div class="logoImgContainer">
    <img class="logoImg" src="./assets/img/join_logo1.svg" alt="logo" />
  </div>

  <div class="theProgramm">
    <p class="theProgrammFont">Kanban Project Management Tool</p>
  </div>

  <div id="signUpContainerID" class="signUpContainer" style="display: none">
    <!--Sign Up Container for not regestrated user</!-->
    <p class="signUpParagraph">Not a Join user?</p>
    <button id="sign_up_ButtonID" class="sign_up_Button">Sign up</button>
  </div>

  <div id="userSymbolContainerID" class="userSymbolContainer">
    <img
      class="userSymbolContainerHelp"
      src="assets/img/header/help.png"
      alt=""
    />

    <!--User Symbol Container for regestrated user</!-->
    <img class="userLogoImg" src="assets/img/group-13.svg" alt="" />
  </div>
</div>
