<div class="menuTemplate">
  <div class="menu-item" onclick="includeContentHTML('Summary')">
    <img src="./assets/img/summary_icon.svg" alt="Summary Icon" />
    <p>Summary</p>
  </div>
  <div class="menu-item" onclick="includeContentHTML('Board')">
    <img src="assets/img/menü/Vector.svg" alt="Summary Icon" />
    <p>Board</p>
  </div>
  <div
    class="menu-item"
    onclick="includeContentHTML('Add Tasks');
    includeContentHTML('./assets/templates/tasks_form.html')"
  >
    <img src="./assets/img/add_tasks_icon.svg" alt="Summary Icon" />
    <p>Add Tasks</p>
  </div>
  <div class="menu-item" onclick="includeContentHTML('Contacts');">
    <img src="./assets/img/contacts_icon.svg" alt="Summary Icon" />
    <p>Contacts</p>
  </div>
</div>
