<div class="menuTemplate">
  <div
    class="menu-item"
    onclick="includeContentHTML('./assets/templates/summary/summary_template.html')"
  >
    <img src="./assets/img/summary_icon.svg" alt="Summary Icon" />
    <p>Summary</p>
  </div>
  <div
    class="menu-item"
    onclick="includeContentHTML('./assets/templates/board/board_template.html')"
  >
    <img src="./assets//img/board_icon.svg" alt="Summary Icon" />
    <p>Board</p>
  </div>
  <div
    class="menu-item"
    onclick="includeContentHTML('./assets/templates/add_tasks/add_tasks_template.html')"
  >
    <img src="./assets//img/add_tasks_icon.svg" alt="Summary Icon" />
    <p>Add Tasks</p>
  </div>
  <div
    class="menu-item"
    onclick="includeContentHTML('./assets/templates/contacs/contacts_template.html')"
  >
    <img src="./assets/img/contacts_icon.svg" alt="Summary Icon" />
    <p>Contacts</p>
  </div>
</div>
