<div class="tasks-form-container">
  <!-- Muss die forn nicht ein "onsubmit" haben? -->
  <div class="tasks-form">
    <div class="tasks-form-row-divieder"></div>
    <label for="form-title">
      <p>Title <span>*</span></p>
      <input type="text" placeholder="Enter a title" required id="form-title" />
    </label>
    <label for="form-desc">
      <p>Description</p>
      <textarea
        placeholder="Enter a Description"
        required
        id="form-desc"
      ></textarea>
    </label>
    <div class="prios-container">
      <p>Prio</p>
      <div class="prios">
        <div class="prio">
          <label
            for="prio-urgent"
            class="prio-self"
            onclick="clickedPrio('prio-urgent')"
            data-prio="prio"
            >Urgent <img src="./assets/img/add_tasks/prio_urgent.svg" alt=""
          /></label>
          <input type="radio" id="prio-urgent" value="Urgent" />
        </div>
        <div class="prio">
          <label
            for="prio-medium"
            onclick="clickedPrio('prio-medium')"
            data-prio="prio"
            >Medium <img src="./assets/img/add_tasks/prio_medium.svg" alt="" />
          </label>
          <input type="radio" id="prio-medium" value="Medium" />
        </div>
        <div class="prio">
          <label
            for="prio-low"
            onclick="clickedPrio('prio-low')"
            data-prio="prio"
            >Low <img src="./assets/img/add_tasks/prio_low.svg" alt=""
          /></label>
          <input type="radio" id="prio-low" value="Low" />
        </div>
      </div>
    </div>
    <label for="form-date">
      <p>Due date <span>*</span></p>
      <input
        type="text"
        placeholder="dd/mm/yyyy"
        required
        id="form-date"
        onfocus="(this.type='date')"
        onblur="(this.type='text')"
      />
    </label>
    <div class="category-container">
      <p style="margin-bottom: 5px">Category <span>*</span></p>
      <div
        class="dropdown"
        onclick="handelDropDown('category-dropdown-menu', 'category-dropdown-arrow')"
      >
        <p class="dropdown-button" id="categorys-dropdown">
          Select task category
        </p>
        <img
          src="./assets/img/add_tasks/arrow_drop.svg"
          id="category-dropdown-arrow"
        />
      </div>
      <div id="category-dropdown-menu">
        <label for="technical-task" onclick="selectCategory('Technical Task')"
          >Technical Task
          <input type="radio" name="technical" id="technical-task" />
        </label>
        <label for="user-story" onclick="selectCategory('User Story')"
          >User Story
          <input type="radio" name="technical" id="user-story" />
        </label>
      </div>
    </div>
    <div class="assigned-to-container">
      <p class="dropdown-button">Assigned to</p>
      <div
        class="dropdown"
        onclick="handelDropDown('assigned-to-dropdown-menu', 'assigned-to-dropdown-arrow')"
      >
        <p id="aissgned-to-dropdown">Select contacts to assign</p>
        <img
          src="./assets/img/add_tasks/arrow_drop.svg"
          id="assigned-to-dropdown-arrow"
        />
      </div>
      <div id="assigned-to-dropdown-menu">
        <!-- Alle Contacte müssen gerendert werden -->
        <!-- <label for="technical-task" onclick="selectCategory('Technical Task')"
          >Technical Task
          <input type="radio" name="technical" id="technical-task" />
        </label> -->
      </div>
    </div>
    <div class="subtasks-to-container">
      <p class="dropdown-button">Subtasks</p>
      <div class="dropdown subtasks-input">
        <input
          type="text"
          id="subtasks-to-dropdown"
          placeholder="Add new Task"
          oninput="
          changeSubTaskValue(this)"
        />
        <div class="subtasks-input-btns">
          <button id="subtask-submit-subtask"">
            <img
              src="./assets/img/add_tasks/plus_icon.svg"
              id="subtasks-to-dropdown-arrow"
              data-check="false"
            />
          </button>
          <div class="btn-divieder" id="hiden-divieder"></div>
          <button>
            <img id="subtask-accept-icon" src="" />
          </button>
        </div>
      </div>
      <div class="subtasks-list">
        <ul id="subtask-list"></ul>
      </div>
    </div>
  </div>
</div>
