<div class="menuTemplate">
  <div class="desktopFooterLogo">
    <img src="./assets/img/footer/desktopFooterLogo.svg" alt="" />
  </div>

  <div class="desktopFooterMenu">
    <div
      class="menu-item menu-item activeLink"
      id="nav-summary"
      onclick="includeContentHTML('Summary'); setActiveLink('nav-summary')"
    >
      <div class="footerHoverBox">
        <img src="./assets/img/footer/summary_icon.svg" alt="Summary Icon" />
        <p class="mobileMenuFont">Summary</p>
      </div>
    </div>
    <div
      class="menu-item"
      id="nav-board"
      onclick="includeContentHTML('Board'); setActiveLink('nav-board')"
    >
      <div class="footerHoverBox">
        <img src="assets/img/footer/Vector.svg" alt="Summary Icon" />
        <p class="mobileMenuFont">Board</p>
      </div>
    </div>
    <div
      class="menu-item"
      id="nav-addTask"
      onclick="includeContentHTML('Add Tasks'); setActiveLink('nav-addTask');
    includeContentHTML('./assets/templates/footer/tasks_form.html')"
    >
      <div class="footerHoverBox">
        <img src="./assets/img/footer/add_tasks_icon.svg" alt="Summary Icon" />
        <p class="mobileMenuFont">Add Tasks</p>
      </div>
    </div>
    <div
      class="menu-item"
      id="nav-contacts"
      onclick="includeContentHTML('Contacts'); setActiveLink('nav-contacts')"
    >
      <div class="footerHoverBox">
        <img src="./assets/img/footer/contacts_icon.svg" alt="Summary Icon" />
        <p class="mobileMenuFont">Contacts</p>
      </div>
    </div>
  </div>

  <div class="desktopFooterPolicyBox">
    <a
      class="desktopFooterPolicyFont"
      href="./assets/templates/privacy_policy/privacy_policy_internal.html"
      >Privacy Policy</a
    >
    <a
      class="desktopFooterPolicyFont"
      href="./assets/templates/legal_notice/legal_notice_internal.html"
    >
      Legal Notice
    </a>
  </div>
</div>
